/.project
/.classpath
/.settings
/target
permissionsex-*/target
permissionsex-*/.classpath
permissionsex-*/.project
permissionsex-*/.settings
/build.xml
/build
/bin
/dist
/.idea/
/PermissionsEx.iml
.DS_Store
.*.swp
